
#top {
    position: relative;
    background-color: #FFF;
    color: white;
    padding: 5px;
}

#bottom {
    height: 80px;
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 80px;
    min-height: 395px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
}

.left_content {
    background-color: #dddddd;
    margin-left: 95px;
    min-height: 405px;
}

.right_content {
    background-color: #dddddd;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: #000;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}
.menu-left-icon{
    float: left;
    position: relative;
    margin-left: 15px;
    margin-top: 40px;
}
#menu-left-icon-participantes{
    background-image: url("/controle_nst/resources/imagens/participantes.png");    
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-top: 40px;
    height: 48px;
    width: 48px;
}
#menu-left-icon-back{
    background-image: url("/controle_nst/resources/imagens/back.png");    
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-top: 40px;
    height: 48px;
    width: 48px;
}
#menu-left-icon-projetos{
    background-image: url("/controle_nst/resources/imagens/projetos.png");    
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-top: 40px;
    height: 48px;
    width: 48px;
}
#menu-left-icon-relatorio{
    background-image: url("/controle_nst/resources/imagens/relatorios.png");    
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-top: 40px;
    height: 48px;
    width: 48px;
}
#projetos{
    height: 122px;
    overflow-x: auto;
}